<h1 class="ls-title-intro ls-ico-user">Repositório</h1>

<div class="ls-box">
  <div class="row">
    <div class="col-md-12">
        <table class="ls-table ls-table-striped ls-no-hover ls-sm-space ls-no-margin-top">
          <tbody>
            <tr> <td> Nome: <label class="ls-title-6"><%= @repository.name %></label> </td> </tr>
            <tr> <td> Nome: <label class="ls-title-6"><%= @repository.name %></label> </td> </tr>
            <tr> <td> Nome: <label class="ls-title-6"><%= @repository.name %></label> </td> </tr>
            <tr> <td> Nome: <label class="ls-title-6"><%= @repository.name %></label> </td> </tr>
            <tr> <td> Nome: <label class="ls-title-6"><%= @repository.name %></label> </td> </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_repository_path(@repository) , class: "ls-btn-darker" %>
<%= link_to 'Voltar', repositories_path, class: "ls-btn-darker" %>
